html {
  height: 100%;
  margin: 0;
}

body {
    font-family: DejaVu Sans;
    font-weight: normal;
    font-size: medium;
    line-height: 1.3em;
    background: #000;
    color: gray; /* blue */
}

.tile {
    border-width: 2px 0px 0px;
    border-style: solid;
    border-color: darkgreen;
    margin-bottom: 1em;
}
.tile-title {
    border-width: 0px 1px 0px;
    border-style: solid;
    border-color: brown;
    padding: 4px 8px;
    color: darkgreen;
    font-style: bold;
}
.tile-content {
    border-width: 0px 1px 0px;
    border-style: solid;
    border-color: brown;
    padding: 4px 8px;
}
.tile-tags {
    border-width: 0px 1px 1px;
    border-style: solid;
    border-color: brown;
    padding: 4px 8px;
}

.box {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: brown;
    margin-bottom: 1em;
}

.box-header {
    /*background-color: brown;*/
    border-width: 0px 0px 1px;
    border-style: solid;
    border-color: brown;
    padding: 4px 2px;
}
.box-header label {
    color: darkgreen;
    font-style: bold;
    display: block;
    margin: 0 auto;
    width: 80%;
}

.box-content {
    padding: 4px 2px;
}
.box-content p {
    margin: 0 auto;
    width: 80%;
}
.box-content label {
    color: darkgreen;
    font-style: bold;
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 2px;
}
.box-content input {
    font-size: small;
    color: #222;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    display: block;
    padding: 3px;
}
.box-content input[type=text] {
    background-color: lightgray;
    margin: 0 auto;
    width: 80%;
}

.clear {
    clear: both;
}

@media screen and (min-width:600px) {
    .tiles {
        margin: 0 auto;
        max-width: 80%;
    }
    .left {
        float: left;
        width: 60%;
    }
    .right {
        margin-left: 61%;
    }
}
@media screen and (max-width:599px) {
    .right {
        display: inline;
    }
}
