<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="tile-item.html">
<link rel="import" href="tile-model.html">

<polymer-element name="tile-list">
    <template>
        <tile-model id="model" items="{{items}}"></tile-model>

        <template repeat="{{filtered}}">
            <tile-item item="{{}}"></tile-item>
        </template>
    </template>
    <script>
    Polymer({
        created: function() {
            this.items = [];
            this.filtered = [];
        },

        itemsChanged: function() {
            this.filtered = this.items;
        },

        attached: function() {
            document.addEventListener('filter', this.onFilter.bind(this));
        },

        detached: function() {
            document.removeEventListener('filter', this.onFilter);
        },

        onFilter: function(e) {
            var filter = e.detail;
            var re = new RegExp('.*'+filter+'.*', 'i');

            this.filtered = this.items.filter(function(elem) {
                return elem.title.match(re) != null
                    || elem.description.match(re) != null;
            });
        }
    });
    </script>
</polymer-element>
