<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="tile-create">
    <template>
        <link rel="stylesheet" href="box.css">

        <div class="box">
            <div class="header">
                <label>Create content</label>
            </div>
            <div class="content">
                <form>
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title">
                    <label for="tags">Tags</label>
                    <input type="text" name="tags" id="tags">
                    <label style="font-size:small; font-weight:normal;">Separate each tags by a space.</label>
                    <p>
                        <input type="submit" value="Submit">
                    </p>
                </form>
            </div>
        </div>
    </template>
    <script>
        Polymer({});
    </script>
</polymer-element>
