<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="tile-filter" attributes="filter">
    <template>
        <link rel="stylesheet" href="box.css">

        <div class="box">
            <div class="header">
                <label>Filter content</label>
            </div>
            <div class="content">
                <input type="search" value="{{filter}}"
                    placeholder="Search" autofocus>
            </div>
        </div>
    </template>
    <script>
    Polymer({
        filter: ""
    });
    </script>
</polymer-element>
