<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="tile-item.html">
<link rel="import" href="tile-model.html">

<polymer-element name="tile-list" attributes="filter">
    <template>
        <tile-model id="model" items="{{items}}"></tile-model>

        <template repeat="{{filtered}}">
            <tile-item item="{{}}"></tile-item>
        </template>
    </template>
    <script>
    Polymer({
        created: function() {
            this.items = [];
            this.filtered = [];
        },

        itemsChanged: function() {
            this.filtered = this.items;
        },

        filterChanged: function() {
            var re = new RegExp(this.filter, 'i');

            this.filtered = this.items.filter(function(elem) {
                return elem.title.match(re) != null
                    || elem.description.match(re) != null;
            });
        }
    });
    </script>
</polymer-element>
