.tile {
    border-radius: 3px;
    border-width: 1px;
    border-color: #2E79DB; /* blue */
    border-style: solid;
    margin-bottom: 1em;
}
.title {
    font-family: sans-serif;
    padding: 4px 8px;
    color: #2E79DB; /* blue */
    font-weight: bold;
}
.description {
    font-family: serif;
    color: #7CB0FF; /* light blue */
    padding: 4px 8px;
}
.tags {
    font-family: monospace;
    color: #9B51DB; /* violet */
    padding: 4px 8px;
}
