<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">

<polymer-element name="tile-model" hidden attributes="items">
    <template>
        <core-ajax id="ajax" url="/search"
            handleAs="json"
            on-core-response="{{handleResponse}}"
            on-core-error="{{handleError}}">
        </core-ajax>
    </template>
    <script>
    Polymer({
        created: function() {
            this.items = [];
        },

        doSearch: function(detail) {
            this.$.ajax.params = '{"q": "' + detail + '"}';
            this.$.ajax.go();
        },

        handleResponse: function(event, detail) {
            this.items = detail.response.statuses || [];
        },

        handleError: function(event, detail) {
            console.log(detail);
            this.items = [];
        }
    });
    </script>
</polymer-element>
