<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="tile-item" attributes="item highlight">
    <template>
        <link rel="stylesheet" href="tile-item.css">

        <div class="tile">
            <div id="title" class="title"></div>
            <div id="description" class="description"></div>
            <div class="tags">[[item.tags | names]]</div>
        </div>
    </template>
    <script>
    Polymer({
        names: function(objs) {
            return objs.map(function(obj) {
                return obj.name;
            }).join(", ");
        },

        highlightChanged: function() {
            var title = this.color(this.item.title);
            this.injectBoundHTML(title, this.$.title);

            var description = this.color(this.item.description);
            this.injectBoundHTML(description, this.$.description);
        },

        color: function(value) {
            if (this.highlight) {
                return value.replace(
                    new RegExp('('+this.highlight+')','ig'),
                    '<span style="background-color:yellow">$1</span>');
            }
            return value;
        }
    });
    </script>
</polymer-element>
