<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="tile-item" attributes="item highlight">
    <template>
        <link rel="stylesheet" href="tile-item.css">

        <div class="tile">
            <div id="title" class="title">[[item.user.screen_name]]</div>
            <div id="description" class="description">[[item.text]]</div>
            <div class="tags">[[item.entities.hashtags | names]]</div>
        </div>
    </template>
    <script>
    Polymer({
        highlight: "",

        created: function() {
            this.item = {};
        },

        names: function(objs) {
            if (objs) {
                return objs.map(function(obj) {
                    return obj.text;
                }).join(", ");
            }
            return null;
        },

        highlightChanged: function() {
            var text = this.bgColor(this.item.text);
            this.injectBoundHTML(text, this.$.description);
        },

        bgColor: function(value) {
            if (value && this.highlight) {
                return value.replace(
                    new RegExp('('+this.highlight+')','ig'),
                    '<span style="background-color:yellow">$1</span>');
            }
            return value;
        }
    });
    </script>
</polymer-element>
