<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="tile-item" attributes="item highlight">
    <template>
        <link rel="stylesheet" href="tile-item.css">

        <div class="tile" style="border-color: [[item.subtype | borderColor]];">
            <div id="title" class="title">[[item.title]]</div>
            <div id="description" class="description">[[item.description]]</div>
            <div class="tags">[[item.tags | names]]</div>
        </div>
    </template>
    <script>
    Polymer({
        highlight: "",

        created: function() {
            this.item = {};
        },

        borderColor: function(subtype) {
            var hash = this.fnv1a32(subtype);
            hash = hash >>> 8;
            var color = "#" + hash.toString(16);
            return color;
        },

        fnv1a32: function(text) {
            var hash = 2166136261;
            if (text) {
                for (var i = 0; i < text.length; i++) {
                    var charCode = text.charCodeAt(i);
                    hash = hash ^ charCode;
                    hash += (hash<<1) + (hash<<4) + (hash<<7) + (hash<<8) + (hash<<24);
                    hash = hash >>> 0;
                }
            }
            return hash;
        },

        names: function(objs) {
            if (objs) {
                return objs.map(function(obj) {
                    return obj.name;
                }).join(", ");
            }
            return null;
        },

        highlightChanged: function() {
            var title = this.bgColor(this.item.title);
            this.injectBoundHTML(title, this.$.title);

            var description = this.bgColor(this.item.description);
            this.injectBoundHTML(description, this.$.description);
        },

        bgColor: function(value) {
            if (value && this.highlight) {
                return value.replace(
                    new RegExp('('+this.highlight+')','ig'),
                    '<span style="background-color:yellow">$1</span>');
            }
            return value;
        }
    });
    </script>
</polymer-element>
