<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="tile-create">
    <template>
        <link rel="stylesheet" href="box.css">

        <div class="box">
            <div class="header">
                <label>Create content</label>
            </div>
            <div class="content">
                <form on-submit="{{createTile}}">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" placeholder="Title" required>

                    <label for="tags">Tags</label>
                    <input type="text" name="tags" id="tags" placeholder="Tags">

                    <label style="font-size:small; font-weight:normal;">Separate each tags by a space.</label>
                    <p>
                        <input type="submit" value="Submit">
                    </p>
                </form>
            </div>
        </div>
    </template>
    <script>
    Polymer({
        createTile: function(e) {
            e.preventDefault();

            var tags = [];
            if (this.$.tags.value) {
                var names = this.$.tags.value.trim().split(" ");
                tags = names.map(function(name) {
                    return {"name": name};
                });
            }

            var newTile = {
                "title": this.$.title.value,
                "description": "",
                "tags": tags,
                "subtype": "volatile",
            };

            this.fire("create", newTile);
        }
    });
    </script>
</polymer-element>
